.help-text{
    font-size: 45px;
}

.categories-box{
    background-color: #A29061;
    color: white;
}

#categories-box-title{
    font-size: 45px;
}

#categories-box-category{
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.progress-bar{
    border-radius: 5px;
    color: #A29061;
}

.progress-bar-finished{
    border-radius: 5px;
    color: #61A273;
}

#card-title{
    font-weight: 500;
    text-align: center;
}

#card-money{
    font-weight: 500;
}

#card-text{
    opacity: 50%;
    font-size: 13px;
}

.section-title{
    font-size: 45px !important;
    text-align: center;
}

.carousel-content {
    padding-left: 50px; /* Add some padding if needed for smaller screens */
}
  
.slide-title {
    font-size: 5rem; 
    color: white;
    line-height: 1.1;
}

.slide-description {
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
}


@media (max-width: 959px) {
    .carousel-content {
        padding-left: 100px; 
        padding-right: 100px;
        text-align: center;
    }
}

@media (min-width: 960px) {
    .carousel-content {
        padding-left: 200px; 
        padding-right: 200px;
    }
}

@media only screen and (max-width: 820px) {
    .slide-title {
        font-size: 3rem; 
    }

    .slide-description {
        font-size: 1.5rem;
    }

    #categories-box-title{
        font-size: 30px;
    }

    #categories-box-category{
        font-size: 20px;
    }

    .help-text{
        font-size: 35px;
    }
}

@media only screen and  (max-width: 600px) {
    .slide-title {
        font-size: 2.4rem; 
    }

    .slide-description {
        font-size: 1rem;
    }

    .help-text{
        font-size: 25px; 
    }
}